<div class="top--bar">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<div class="top--bar-phone">
					Sales Inquiries Phone: (357) 26 942 428
				</div>
			</div>
			<div class="col-md">
				<div class="top--bar-language">
					Русский
				</div>
			</div>
		</div>
	</div>	
</div>	
<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="logo">
					<img src="{{ "/assets/images/gavrielides-logo.png" | prepend: domain }}">
				</div>    
			</div>
			<div class="col-lg-9">
				<ul class="">
				{% include navs/navigation.html %}
			</ul>				
		    </div>
		</div>
	</div>
</div>
<div class="sub--header">
	<div class="container">
		<div class="row">
			<div class="col-md">
			<ul class="">
				{% include navs/subheader-navigation.html %}
			</ul>
			</div>
		</div>
	</div>
</div>