{% include lang.html %}
{% if siteLang == "en" %}
    {% assign NavLang = site.pages | where: "language", "en" %}
	{% for page in NavLang  %}
    {% if page.inc == "current-project" %}	
		{% if page.title %}
			<div class="Page-Grid__grid-wrap__box">
				<a href="{{ page.url | prepend: domain }}">
 					<div class="Page-Grid__grid-wrap__box__boxInner" style="background-image:url('{{ page.image | prepend: domain}}');">
						<div class="Page-Grid__grid-wrap__box__boxInner__title">{{ page.title }}</div>											
					</div>
				</a>	
	        </div>
		{% endif %}
	{% endif %}	
	{% endfor %}
{% elsif siteLang == "ru" %}
	{% assign NavLang = site.pages | where: "language", "ru" %}
	{% for page in NavLang %}
	{% if page.inc == "current-project" %}
		{% if page.title %}
			<div class="Page-Grid__grid-wrap__box">
				<a href="{{ page.url | prepend: domain }}">
					<div class="Page-Grid__grid-wrap__box__boxInner" style="background-image:url('{{ page.image | prepend: domain }}');">
						<div class="Page-Grid__grid-wrap__box__boxInner__title">{{ page.title }}</div>
						<span class="Page-Grid__grid-wrap__box__boxInner__vendor"><img src="{{site.url}}{{ page.image }}" alt="{{ page.title }}"></span>
						<div class="rte"></div>					
					</div>
				</a>	
	        </div>
		{% endif %}
	{% endif %}
	{% endfor %}	
{% else %}
{% assign NavLang = site.pages | where: "language", "en" %}
	{% for page in NavLang %}
    {% if page.inc == "current-project" %}	
		{% if page.title %}
			<div class="Page-Grid__grid-wrap__box">
				<a href="{{ page.url | prepend: domain }}">
					<div class="Page-Grid__grid-wrap__box__boxInner">
						<div class="Page-Grid__grid-wrap__box__boxInner__title">{{ page.title }}</div>
 						<span class="Page-Grid__grid-wrap__box__boxInner__vendor"><img src="{{site.url}}{{ page.image| prepend: domain }}" alt="{{ page.title }}"></span>
						<div class="rte"></div>					
					</div>
				</a>	
	        </div>
		{% endif %}
	{% endif %}	
	{% endfor %}
{% endif %}
